{% extends "shop/base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../../static/shop/styles/main_styles.css">
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form class="form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <h3 class="text-center text-info">Login</h3>
                        {% if messages  %}
                        {%  for msg in messages %}
                        <p class="text-danger">{{ msg}} Your username and password didn't match. Please try again.</p>
                        {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="login" class="btn btn-info btn-md" value="login">
                        </div>
                        <!-- <div id="register-link" class="text-right">
                            <a href="#" class="text-info">Register here</a>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}